.logo {
  height: 23px;
}

body > nav {
  .navbar-nav > .active > a,
  .navbar-nav > li > a:hover {
    text-decoration: underline;
  }

  .navbar-nav > li > .dropdown-menu {
    margin-top: -10px;
    border-radius: $border-radius-base;
  }
}